<div class="container-fluid p-0">
    <header class="col-12 d-flex align-items-center justify-content-center justify-content-md-between py-3">

      <a href="/" class="d-flex align-items-center col-3  mb-md-0 text-dark text-decoration-none">
        <img class="logo img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/League_of_Legends_Wild_Rift_logo.svg/1200px-League_of_Legends_Wild_Rift_logo.svg.png" />
      </a>

      <ul class="nav col-6 mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="fw-bolder text-white rounded bg-info nav-link px-2 link-secondary"><i-bs name="house-fill"></i-bs> Home</a></li>
        <li><a href="/" class="fw-bolder text-white rounded bg-info nav-link px-2 link-secondary ms-2"><i-bs name="person-lines-fill"></i-bs> Champions</a></li>
      </ul>

      <div class="col-3 text-end">
        <a href="https://play.google.com/store/apps/details?id=com.riotgames.league.wildrift&hl=fr&gl=US" type="button" class="btn btn-primary me-2">Download the game</a>
      </div>

    </header>
  </div>