.form-add-champion{
background-color: #2B2B4F;
opacity: 0.95;
}



h1{
  font-family:  sans wf,sans-serif;
  font-weight: 900;
  color: rgb(230, 230, 230);
  font-size: 50px;
  font-style: italic;
}


label {
  color: rgb(230, 230, 230);
  font-weight: 900;
  font-family:  sans wf,sans-serif;

}
