<div  class="page">
  <div class="container form-add-champion rounded p-5">
      <div class="row">
        <h1 class="form-add-champion-title">Un champion entre dans la faille</h1>

        <form class="form-1 ">
          <div class="form-group">
              <input type="text" class="form-control-input" placeholder="Name" required>
          </div>
          <div class="form-group">
              <input type="email" class="form-control-input" placeholder="Email" required>
          </div>
          <div class="form-group">
              <textarea class="form-control-textarea" placeholder="Message" required></textarea>
          </div>
          <div class="form-group">
              <button type="submit" class="form-control-submit-button">Submit</button>
          </div>
        </form>

      </div>
  </div>
</div>

