<div  class="page">
  <div class="container form-add-champion rounded p-5">
      <div class="row">
        <h1 class="form-add-champion-title">Un champion entre dans la faille</h1>

        <form class="form-1 ">

          <!-- LIGNE 1 DU FORMULAIRE  -->
          <div class="row">

            <div class="col-sm-6 col-12">
              <div class="form-group">
                <label>Nom :</label>
                <input type="text" class="form-control-input" name="name" placeholder="Nom du personnage" [(ngModel)]="champs.name" >
              </div>
            </div>

            <div class="col-sm-6 col-12">
              <div class="form-group">
                <label>Surnom :</label>
                <input type="text" class="form-control-input" name="surname" placeholder="Surnom du personnage"  [(ngModel)]="champs.surname">
              </div>
            </div>

          </div>

          <!-- LIGNE 2 DU FORMULAIRE  -->
          <div class="row">

            <div class="col-sm-6 col-12">
              <div class="form-group">
                <label>Lane :</label>
                <input type="text" class="form-control-input" name="lane" placeholder="Lane principale" [(ngModel)]="champs.lane" >
              </div>
            </div>

            <div class="col-sm-6 col-12">
              <div class="form-group">
                <label>Tier list :</label>
                <input type="text" class="form-control-input" name="tier" placeholder="Place dans la tier list" [(ngModel)]="champs.tier" >
              </div>
            </div>

          </div>

          <!-- LIGNE 3 DU FORMULAIRE  -->
          <div class="row">

            <div class="col-12">
              <div class="form-group">
                <label>Cadre du personnage :</label>
                <input type="text" class="form-control-input" name="image" placeholder="URL photo de profile du personnage" [(ngModel)]="champs.image" >
              </div>
            </div>

          </div>

          <!-- LIGNE 4 DU FORMULAIRE  -->
          <!-- <div class="row">

            <div class="col-12">
              <div class="form-group">
                <label>Image du personnage :</label>
                <input type="text" class="form-control-input" placeholder="URL vers l'image du personnage" >
              </div>
            </div>

          </div> -->

          <!-- LIGNE 5 DU FORMULAIRE  -->
          <div class="row">

            <div class="col-12">
              <div class="form-group">
                <label>Description :</label>
                <textarea class="form-control-input" name="story" rows="5" placeholder="Description du personnage" [(ngModel)]="champs.description" ></textarea>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-12">
              <div class="submit">
                <button class="btn btn-lg btn-success" (click)="addChamp()">Envoyer</button>
              </div>
            </div>
          </div>


        </form>

      </div>
  </div>
</div>

