.btn {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display:block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid rgb(221, 91, 91);
  background-color: rgb(243, 118, 118);
  width: 65px;
  height: 65px;
}

.fa-plus{
  color: rgb(238, 238, 238);
}

